NEXTAUTH_SECRET = # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32
GITHUB_ID= 
GITHUB_SECRET=
LATEST_MANIFEST_URI=
ARWALLET=

GOERLI_ALCHEMY_API_KEY=
MAINNET_ALCHEMY_API_KEY=

NEXT_PUBLIC_GOERLI_CONTRACT_ADDRESS=
NEXT_PUBLIC_MAINNET_CONTRACT_ADDRESS=

ETHEREUM_TREASURY_PRIVATE_KEY=
OPENSEA_API_KEY=

SOLANA_PRIVATE_KEY=
NEXT_PUBLIC_BUNDLR_NETWORK_NODE=
NEXT_PUBLIC_SOLANA_PUBLIC_KEY=
SOLANA_RPC=